header {
    background-color: black;
}

.nav-link {
    color: white;
    font-size: 30px;
}

.bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
    color: white;
}

.bottom-nav {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

